.logo {
  margin: 0 0 25px 0;
  padding: 10px;
  color: #4040af;
  text-align: center;
  border: 2px solid rgba(145, 145, 197, 0.404);
  border-radius: 4px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.12), 4px 6px 8px rgba(0, 0, 0, 0.18);
}
.logo:hover {
  box-shadow: 5px 8px 6px rgba(19, 133, 153, 0.18),
    0 1px 16px rgba(15, 4, 4, 0.44);
}
.container {
  width: 500px;
  background-color: #fff;
  margin: auto;
  padding: 20px 15px;
  overflow: hidden;
  position: relative;
}
