html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;

}

body {
    font-family: "Playfair Display", Arial, sans-serif;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 16px;
    background: whitesmoke;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 900px;
    background-color: whitesmoke;
    margin: 0 auto;
}
.page_header {
    padding-top: 78px;
    padding-bottom: 78px;
    }
.content_list {
    text-align: center;
    padding: 0;
    font-size: 0;
    list-style: none;
}
.navigation-link {
    display: block;
    text-decoration: none;
    color: #626262; 
    text-transform: uppercase;
    font-size: 14px;
    }
.navigation-link:hover {
    color: #03a9f4;
    cursor: pointer; 
    }
.marked_item {
    display: inline-block;
    }
.marked_item:not(:last-of-type) {
    margin-right: 60px;
}
.acticle {
    display: inline-block;
    width: 420px;
    margin-bottom: 56px;
}
.acticle p {
    font-size: 14px;
}
h2 {
   font-size: 30px;
   margin-bottom: 40px;
   font-weight: 400;
}
.paragraph {
   line-height: 24px;
 }
 p {
    margin: 0px;
    padding: 0px;
}
.page_header {
    padding-top: 78px;
    padding-bottom: 78px;
    }
.content_list {
    text-align: center;
}
.images {
    margin-bottom: 28px;
}
.text {
    margin-bottom: 25px;
    text-transform: uppercase;
}
.acticle:nth-child(2n+1) {
    margin-right: 56px;

}
.load_button {
    display: block;
    width: 165px;
    height: 58px;
    border: 1px solid #626262;
    margin: 0 auto;
    background-color: transparent;
    font-size: 20px;
    color: #626262;
    cursor: pointer;
}
.load_button:hover {
    background-color: #626262;
    color: white;
    
}
section {
    padding-bottom: 70px;
    font-size: 0;
}