html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --main-width: 1110px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: var(--main-width);
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #0f0101
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

/* MENU NAVIGATION */
.navigation {
    padding: 44px 0 38px;
}

.navigation .logotype__link {
    float: left;
}

.logotype__link:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /* самодеятельность: добавил тень на лого при ховере*/
}

.navigation__list {
    float: right;
}

.navigation__list li {
    float: left;
    list-style: none;
}

.navigation__list li:not(:last-child) {
    margin-right: 30px;
}

.navigation_list {
    width: 470px;
    margin: 0;
    padding: 0;
}

.navigation__list a {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0f0101;
    text-align: right;
    text-decoration: none;
    padding: 4px 22px 0;
    /* расширил падингами d 22px кликабельность ссылки
    при переходе по ссылкам меню навигации */
}

.navigation__list a:hover {
    color: #1abc9c;
}

/* TOURIST TOURS SECTION */
.tourist-tours {
    position: relative;
}

.slider__btns {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 30px;
}

.slider__btn {
    width: 104px;
    height: 104px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.inactive {
    background-color: #4ec6ab;
}

.active {
    background-color: #1abc9c;
}

.prev {
    float: left;
    background-image: url("../img/icons/prev-icon.png");
}

.next {
    float: right;
    background-image: url("../img/icons/next-icon.png");
}

.section-title {
    font-size: 60px;
    line-height: 82px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
}

.tourist-tour-subtitle {
    font-size: 24px;
    line-height: 54px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

/* NEW COLLECTION SECTION */
.collection {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
}

.section__title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 32px;
    color: #515151;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 118px;
}

.section__title::after {
    content: "";
    display: block;
    width: 164px;
    height: 8px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 32px;
}

.collections-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collections-list-item {
    position: relative;
    width: 255px;
    height: 322px;
    float: left;
    list-style: none;
}

.collections-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
    /* правило будет применяться, когда внизу 
    нужно будет добавить еще ряд лишек */
}

.collections__list-item:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
    /* правило будет применяться, когда внизу 
    нужно будет добавить еще ряд лишек */
}

.collections-list-item:hover .collections-list-title {
    background-color: #1abc9c;
}

.collections-list-item:hover .collections-list-price {
    background-color: #7fd9c7;
}

.collections-list-title {
    width: 202px;
    height: 40px;
    float: left;
    background-color: #323232;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding-left: 14px;
}

.collections-list-price {
    width: calc(255px - 202px);
    height: 40px;
    float: left;
    background-color: #8c8c8c;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.collections-list-image {
    width: 255px;
    height: 282px;
}

.overlay {
    /* position: relative; */
    position: absolute;
    width: 100%;
    height: 284px;
    top: 0;
    left: 0;
    background-color: rgba(78, 78, 78, 0.5);
    background-clip: padding-box;
    opacity: 0;
    transition: all .5s linear;
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.collections-list-item:hover .overlay {
    opacity: 1;
}

.btn-wrapper {
    width: 174px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-icons-item,
.button-icon-add-cart {
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.button-icon-add-cart {
    width: 164px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    text-transform: uppercase;
    text-align: center;
}

.button-icon-add-cart:hover {
    background-color: #1abc9c;
}

.button-icons-item {
    width: 48px;
    height: 49px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    float: left;
    margin-bottom: 7px;
}

.button-icons-item:hover {
    background-color: #1abc9c;
}

.button-icons-item:not(:last-child) {
    margin-right: 10px;
}

.favourite {
    background-image: url("../img/icons/1-favouritet.png");
    background-repeat: no-repeat;
    background-position: center;
}

.change {
    background-image: url("../img/icons/2-change-item.png");
    background-repeat: no-repeat;
    background-position: center;
}

.delay {
    background-image: url("../img/icons/3-delayed-item.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

.add {
    background-image: url("../img/icons/4-add-icon.png");
    background-repeat: no-repeat;
    background-position: center left 12px;
}

.button-icon-add-cart p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    padding-left: 18px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* FOOTER */
.page-footer {
    background-color: #323232;
}

.footer-wrapper {
    height: 88px;
    margin: 0 auto;
}

.footer-item {
    float: left;
}

.footer-wrapper p {
    font-size: 16px;
    line-height: 88px;
    color: #fefefe;
    font-family: "Open Sans";
    font-weight: 400;
}

.footer-wrapper a {
    color: #46bfa9;
    text-decoration: none;
}

.ip-property {
    width: calc(1110px / 2 - 3px);
    margin-right: 6px;
    text-align: right;
}

.designer {
    width: calc(1110px / 2 - 3px);
    text-align: left;
}