%main-title {
  font-family: "MontserratSB", sans-serif;
  font-size: 20px;
  color: #555555;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
}

%description {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
  color: #555;
  width: 554px;
}
