html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;

}

body {
    font-family: sans-serif;
    color: #3c3c3c;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 900px;
    background-color: blue;
    margin: 0 auto;
}

.article {
    width: 420px;
    display: inline-block;
}