.page-header {
  padding-top: 40px;
  padding-bottom: 228px;
  background-image: -o-linear-gradient(bottom, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9)),
    url("../image/bg/bg-picture.jpg");
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, .9)), to(rgba(243, 129, 129, .9))),
    url("../image/bg/bg-picture.jpg");
  background-image: linear-gradient(to top, rgba(252, 227, 138, .9), rgba(243, 129, 129, .9)),
    url("../image/bg/bg-picture.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 164px;

  &__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 74px;
  }

  &__btn {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;

    &-svg {
      height: 18px;
      fill: #ffffff;
    }
  }

  &__btn-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 18px;
    height: 18px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }


  &__logotype-link {
    display: block;
    width: 86px;
    height: 23px;
    margin-right: 492px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    &:hover {
      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 510px;

    & a {
      display: block;
      font-family: "MontserratR", sans-serif;
      font-size: 14px;
      color: #ffffff;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 22px 0;

      &:hover {
        color: #fce38a;
      }

      &-link {
        font-family: 'MontserratR';
        font-size: 14px;
        text-align: left;
      }
    }
  }
}

.navigation__list-item:hover .navigation__list-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  margin-top: 12px;
}

.navigation__list-link {
  position: relative;
}

.article-title-specific {
  font-family: "Kaushan ScriptR";
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.article-title-main {
  font-family: "MontserratSB";
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 114px;
}

.learn-more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 164px;
  height: 44px;
  border: 3px solid #ffffff;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
  .page-header {
    background-image: -o-linear-gradient(bottom,
        rgba(252, 227, 138, .9),
        rgba(243, 129, 129, .9)),
      url("../image/bg/bg-picture@2x.jpg");
    background-image: -webkit-gradient(linear,
        left bottom, left top,
        from(rgba(252, 227, 138, .9)),
        to(rgba(243, 129, 129, .9))),
      url("../image/bg/bg-picture@2x.jpg");
    background-image: linear-gradient(to top,
        rgba(252, 227, 138, .9),
        rgba(243, 129, 129, .9)),
      url("../image/bg/bg-picture@2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
