.sideBar {
  width: 200px;
  height: 100vh;
  background-color: darkgrey;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20;
}
.activeLink {
    text-decoration: none;
    color: red;
    cursor: pointer;
    font-size: 20;
}