.enter {
  opacity: 0;
  background-color: tomato;
}
.enterActive {
  opacity: 1;
  transition: opacity 1000ms;
  /* background-color: tomato; */
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 1000ms;
  background-color: tomato;
}
.enterDone {
  background-color: aqua;
}
