.button {
  display: inline-flex;
  margin: 0 4px;
  padding: 8px 24px;
  border: 0;
  border-radius: 2;
  font-size: 14;
  font-family: "inherit";
  background-color: rgb(163, 56, 70);
  color: white;
}

.button:hover,
.button:focus {
  background-color: rgb(49, 33, 122);
}

/* .disabled {
  background-color: rgb(116, 168, 102);
  color: black;
} */

.disabled {
  composes: button;
  background-color: rgb(116, 168, 102);
  color: black;
}
